.container-section {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.section-text {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: bold;
    padding-top: 70px;
}
.image-box {
    display: flex;
    justify-content: space-around;
    margin: 150px 0px;
}
.image-box img {
    width: 180px;
}
.text-margin {
    margin: 40px 0px;
}
.pad {
    line-height: 2;
    padding-bottom: 60px;
}

.img-box {
    display: flex;
    justify-content: space-around;
    margin-top:120px;
}

.img-box img {
    width: 600px;
}
.img-box .text {
    font-size: 0.8rem;
    color:#111;
}
.text-box {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    font-weight: bold;
}

#about1 {
    position: relative;
    background: url('architecture.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}
#about2 {
    position: relative;
    background: url('kamila-2.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}
#about3 {
    position: relative;
    background: url('leaf.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}
.section .content {
    height: 500px;
}
.content {
    position: relative;
    z-index: 50;
    color: white;
    text-align: center;
    padding: 20px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.content h1 {
    font-size: 1.7rem;
    margin-bottom: 25px;
}


.content p {
    line-height: 1.7;
}

.size {
    margin-top: 200px;
    padding-bottom: 60px;
}

.text-box2 {
    position: absolute;
    bottom: 40px;
    text-align: left;
    left: 80px;
}