.container-box {
    padding: 15px 0px;
}

.form {
    display: block;
    text-align: left;
    margin-bottom: 60px;
}
.search-bar   {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.search-bar select {
    min-width: 10rem;
    border: 1px solid #ccc;
    margin-right: 1rem;
    background: transparent;
    padding: 15px 20px;
    border-radius: 50px;
    /* -webkit-appearance: none !important;
    background: transparent url(ar_dn1.svg) right 1.6rem top 1.6rem no-repeat; */
}

option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}
.search-bar input {
    background: #dfdfdf;
    flex-basis: 30%;
    margin-right: 1rem;
    border: none;
    border-radius: 50px;
}
.search-bar button {
    background: black;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    color:white;
}

.list {
    display: flex;
    gap:20px;
    font-size: .9rem;
}
.list a {
    text-decoration: none;
    color: black;
    text-underline-offset: 5px;
}
.list a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.list .active {
    text-decoration: underline;
    font-weight: bold;
    text-underline-offset: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}
th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
thead {
    border-top: 2px solid black;
}
.pagination-board {
    text-align: center;
    margin: 30px 0;
}
.pagination-board a {
    text-decoration: none;
    color: gray;
    padding: 5px 10px;
    border: none;
}
.pagination-board a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
} 
.pagination-board .active {
    text-decoration: underline;
    color: black;
    text-underline-offset: 5px;
}

table .title {
    left: -50px;
    position: relative;
}