

#header {
    position: relative;
}

header {
    color: white;
    position: absolute;
    width: 100%;
    top: 5px;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
}
.logo {
    background: url(btb-a-2.svg) no-repeat center center;
    width: 120px;
    height: 120px;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: transform 0.7s ease-in-out;
}

.section:nth-child(odd) {
    background-color: #f2f2f2;
}

.section:nth-child(even) {
    background-color: #cccccc;
}

.pagination {
    position: fixed;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 10;
}

.dot {
    width: 2px;
    height: 15px;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dot.active {
    background-color: #89c955;
    width: 2px;
    height: 70px;

}

.container .back {
    width: 100%;
    height: 100vh;
}


nav {
    position: absolute;
    z-index: 3000;
    color: white;
}
.menu {
    top: 20px;
    left: 30px;
    font-weight: bold;
    position: relative;
}
.menu-item:nth-child(4) {
    margin-top: 30px;
}
.menu-item , .menu-item2{
    margin: 5px 0;
    font-size: 0.9rem;
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}
.menu-item > a, .menu-item2 > a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: white;
}
.menu-item > a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}
.menu-item:hover > a::before {
    width: 100%;
}
.sub-menu .menu-item > a::before {
    content: none;
}
.sub-menu {
    display: none;
}
.menu-item:hover .sub-menu {
    display: block;
}
.social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.social-icons a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

.container:hover .overlay {
    background: rgba(0,0,0,0.2);
}

.message-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5rem;
    position: fixed;
    color: white;
    width: 100%;
    z-index: 100;
    text-transform: uppercase;
    font-weight: bold;
}

.message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.show {
    opacity: 1;
}